<%= render :partial => "header" %>

    <div class="container">
      <div class="innerContent">You created new thread!</div>
      <div class="innerContent">The title is  <%= @home.title %></div>
      <div class="innerContent">This desctription is <%= @home.description %></div>
      <a class="innerContent" href="/homes">GO BACK To List Of Thread</a>
    </div>
